* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: black;
}

.page1{
    height:100%;
    width: 100%;
    background-color: black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page1 .center1{
    height:300px;
    width: 600px;
    background-color: #191919;
    margin-top:100px;
    display:flex;
    padding:10px 30px;
    visibility:hidden;
    border-radius:10px;
}
.page1 button{
    padding:10px 25px;
    font-size:1.2rem;
    margin-top:80px;
    border-radius:8px;
    font-weight: 700;
    background-color:crimson;
    color:white;

}

.page1 .center1 .box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;  /* 👈 change this */
    line-height:1.5;
    padding-left: 40px;
}


.page1 .center1 .img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:100px;
    
}



.page1 .center1 .ver{
    height:200px;
    width:2px;
    background-color: black;
    border:none;
    margin-top:50px;
    margin-left:20px;
    visibility:hidden;
}



